.champion{
    background: linear-gradient(-45deg, #0A323C, #005A82, #0397AB, #0AC8B9, #CDFAFA);
	animation: gradient 8s ease infinite;
    border-color: white;
    background-size: 400% 400%;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
